.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  padding: 20px 20px 40px 20px;
  background-color: #888;
  border-radius: 8px;
}

.form-login h2 {
  text-align: center;
  font-size: 40px;
  color: #000;
  text-shadow: 5px 5px 25px #fff;
}

.form-login__username,.form-login__password {
  font-size: 24px;
}

.form-login__username {
  margin-bottom: 10px;
}

.form-login-username__label,.form-login-password__label {
  margin-right: 10px;
}

.form-login-username__field,.form-login-password__field {
  font-size: 24px;
  padding: 4px 14px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.form-login-username__field::placeholder,.form-login-password__field::placeholder {
  font-size: 20px;
  color: #999;
}

.form-login-password__field {
  float: right;
}

.btn {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 22px;
  outline: none;
  border: none;
  border-radius: 8px;
}

.btn-login {
  background-color: #50555d;
  color: #fff;
  margin-top: 40px;
}

.btn-login:hover {
  cursor: pointer;
  background-color: #383d46;
}