* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --text-color-primary: #141E46;
  --text-hover-color-primary: #FFF9D0;
  --background-color-primary: #A0DEFF;
}

/* Common */

.container {
  width: 100%;
  padding: 0 120px;
}

.btn {
  width: fit-content;
  font-size: 18px;
  padding: 6px 44px;
  outline: none;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Header */
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-primary);
}

.header-logo a {
  text-decoration: none;
  color: var(--text-color-primary);
}

.header-action {
  font-weight: bold;
}

.header-action a {
  text-decoration: none;
  color: var(--text-color-primary);
  font-size: 18px;
}

.header-action span {
  margin: 0 4px;
  font-size: 20px;
  color: #282c34;
  font-weight: normal;
}

.header-action a:hover {
  color: #40495a;
  text-shadow: 5px 10px 20px rgb(10, 76, 198);
}

/* Footer */
.footer {
  color: var(--text-color-primary);
  font-size: 12px;
  text-align: center;
}

/* Home page */
.sologan {
  width: 600px;
  height: 480px;
  background-color: var(--background-color-primary);
  clip-path: polygon(13% 3%, 96% 4%, 100% 100%, 0 81%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-primary);
  font-size: 28px;
  font-weight: 700;
  margin: 40px auto;
}

/* Login page */

.login,
.signup {
  width: 100%;

}

.login-title,
.signup-title {
  color: var(--text-color-primary);
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.login-form,
.signup-form {
  width: 50%;
  margin: 0 auto;
}

.login-form-group,
.signup-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 18px 0;
  color: var(--text-color-primary);
}

.login-form-label,
.signup-form-label {
  font-size: 24px;
  font-weight: 600;
}

.login-form-input,
.signup-form-input {
  width: 100%;
  font-size: 24px;
  padding: 10px 14px;
  outline: none;
  border-radius: 8px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: 10px;
}

.login-form-input::placeholder,
.signup-form-input::placeholder {
  font-size: 20px;
}

.login-form-input:hover,
.signup-form-input:hover {
  box-shadow: rgba(123, 218, 235, 0.429) 0px 7px 29px 0px;
}

.login-form-input:focus,
.signup-form-input:focus {
  box-shadow: rgba(17, 201, 234, 0.429) 0px 7px 29px 0px;
}

.btn-login,
.btn-signup {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--background-color-primary);
  font-weight: 700;
}

.btn-login:hover,
.btn-signup:hover {
  cursor: pointer;
  background-color: #65beed;
  transition: 0.2s;
  color: rgba(255, 255, 255, 0.735);
}

.login-form-group--action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form-group--action .remember,
.login-form-group--action a {
  width: fit-content;
  color: var(--text-color-primary);
  text-decoration: none;
  cursor: pointer;
}

.login-form-group--action .remember input {
  margin-right: 8px;
}

.login-form-group--action .remember label:hover {
  cursor: pointer;
}

.login-form-group--action .remember:hover,
.login-form-group--action a:hover {
  text-shadow: 10px 10px 15px rgb(58, 225, 255);
}